<!--this is sample configuration, please modify as your wish-->
<configuration>
  <Properties>
    <Property name="log_path">./target/log</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n"/>
    </Console>
    <RollingFile name="DailyRollingFile" fileName="${log_path}/output.log"
      filePattern="${log_path}/%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n"/>
      <TimeBasedTriggeringPolicy interval="1"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="DailyRollingFile"/>
    </Root>
  </Loggers>
</configuration>