package {{mainClassPackage}};

import org.apache.servicecomb.foundation.common.utils.BeanUtils;

public class Application {

  public static void main(String[] args) throws Exception {
    BeanUtils.init();
  }
}