#Indicates an application name
APPLICATION_ID: {{applicationId}}
service_description:
#Indicates a microservice name
#The microservice name should be unique within an application.
#The name can contain digits, uppercase and lowercase letters, hyphens(-), underscores(_), and periods(.); and can neither start nor end with punctuations.
#The naming rule is as follows: ^[a-zA-Z0-9]+$|^[a-zA-Z0-9][a-zA-Z0-9_-.]*[a-zA-Z0-9]$.
  name: {{consumerServiceId}}
#Indicates a service version
  version: 1.0.0
servicecomb:
  service:
  #Specifies the service center IP address.
    registry:
      address: http://127.0.0.1:30100