package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#withXml}}
import javax.xml.bind.annotation.*;
{{/withXml}}

{{#models}}
{{#model}}
{{#isEnum}}
{{>enumOuterClass}}
{{/isEnum}}
{{^isEnum}}
{{>pojo}}
{{/isEnum}}
{{/model}}
{{/models}}